xcode=$(xcode-select -p)
use nix
PATH_add /usr/bin
export DEVELOPER_DIR=$xcode
export SDKROOT=$xcode/SDKs/MacOSX.sdk

watch_file nix/src.json

graalvm_version=24.0.1
graalvm_sha=875555f6063b4847b617504e8f8a36290a6726770be72388261f6118bcf28f81

cyan() (
  a='\033[1;36m'
  b='\033[0m'
  printf "$a$1$b"
)

p="$(uname -o)-$(uname -m)"
case "$p" in
  "Darwin-arm64")
    platform=macos-aarch64
    ;;
  *)
    echo "Unsupported platform: '$p'."
    exit 1
esac

(
  exec {flock_fd}>.flock
  flock $flock_fd
  lockfile=.graalvm/VERSION
  if (! [ -f $lockfile ]) || [ "$graalvm_version" != "$(cat $lockfile)" ]; then
    cyan "\nWe need to download GraalVM. This may take a while, please be patient.\n\n"
    rm -rf .graalvm
    d=$(mktemp -d)
    curl https://download.oracle.com/graalvm/${graalvm_version%%.*}/archive/graalvm-jdk-${graalvm_version}_${platform}_bin.tar.gz > $d/tmp.tar.gz
    (cd $d; tar xzf tmp.tar.gz)
    mv $d/graalvm-jdk-${graalvm_version}* .graalvm
    rm -rf $d
    echo $graalvm_version > .graalvm/VERSION
  fi
)

PATH_add .graalvm/Contents/Home/bin

PATH_add bin
