xcode=$(xcode-select -p)
use nix
PATH_add $xcode/usr/bin
PATH_add /usr/bin

export DEVELOPER_DIR=$xcode
export CC=$xcode/usr/bin/clang
export CXX=$xcode/usr/bin/clang++
export SDKROOT=$xcode/SDKs/MacOSX.sdk

watch_file nix/src.json

PATH_add bin
