@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

:root {
  --font-title: "Sigmar One", sans-serif;
  --color-bg: #252924;
  --color-fg: #CFD4CE;
  --color-shadow: black;
}

html, body, #app, main {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-main);
}

/*** game title ***/

#game-title {
  width: 100vw;
  max-width: 1024px;
  font-size: 4em;
  animation: bob 1.5s ease-in-out infinite;
}

#game-title * {
  font-family: var(--font-title);
}

#game-title text.title-text-under {
  stroke: var(--color-shadow);
}

#game-title text.title-text-over {
  fill: var(--color-fg);
}

@keyframes bob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px) scale(1.02);
  }
  100% {
    transform: translateY(0);
  }
}
