{:deps
 {instaparse/instaparse {:mvn/version "1.5.0"}
  io.github.gaverhae/clonad {:git/sha "a909d7ddcfc94d7c4f4a958da9c52bd8041e413a"}
  io.github.gaverhae/vatch {:git/sha "f8eb024ec22bef73d0d53440cfb27092e2f6a6a4"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.9" :git/sha "e405aac"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {expectations/expectations {:mvn/version "2.1.10"}}}
  :repl {:extra-paths ["test"]
         :extra-deps {expectations/expectations {:mvn/version "2.1.10"}
                      org.clojure/clojure {:mvn/version "1.12.1"}
                      cider/cider-nrepl {:mvn/version "0.56.0"}
                      fipp/fipp {:mvn/version "0.6.27"}}
         :main-opts ["-m" "nrepl.cmdline" "-i" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
